{% extends '::base.html.twig' %}

{% block body -%}
    <h1>
        Stadium edit
        <a href="{{ path('stadium') }}" class="btn btn-warning">
            Back to the list
        </a>
    </h1>

    {{ form(edit_form) }}

{% endblock %}
