{% extends "::base.html.twig" %}

{% block title %}Stadium management{% endblock %}

{% block body %}
<h1>Court edit</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
